@model OvejaNegra.Data.Entities.Comanda

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comanda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carne" class="control-label"></label>
                <input asp-for="Carne" class="form-control" />
                <span asp-validation-for="Carne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Papa" class="control-label"></label>
                <input asp-for="Papa" class="form-control" />
                <span asp-validation-for="Papa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Queso" class="control-label"></label>
                <input asp-for="Queso" class="form-control" />
                <span asp-validation-for="Queso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

