@model OvejaNegra.Data.Entities.Cierre

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fecha" />
            <input type="hidden" asp-for="CajaAyer" />
            <input type="hidden" asp-for="CajaHoy" />
            <input type="hidden" asp-for="Sueldos" />

           
            <div class="form-group ">
                <label asp-for="Ventas" class="control-label"></label>
                <input asp-for="Ventas" class="form-control" readonly/>
                <span asp-validation-for="Ventas" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Compras" class="control-label"></label>
                <input asp-for="Compras" class="form-control" readonly />
                <span asp-validation-for="Compras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bono" class="control-label"></label>
                <input asp-for="Bono" class="form-control" readonly />
                <span asp-validation-for="Bono" class="text-danger"></span>
            </div>

            <div class="form-group enable">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" readonly/>
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

